@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Montserrat';
    font-size: 10px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 1.6rem;
    color: rgb(8, 8, 8);
}

h1,h2 {
    color: rgb(26, 26, 26);
}
img {
    width: 100%;
    max-width: 100%;
    /*So the img doesn't overflow its parent container*/
}
body {
    background-color: #fff; 
}

section{
    padding: 9rem 0;
}

/* Header section */

header{
    width: 100%;
    height: 5rem;
    /*position: absolute;
    top: 0;
    right: 0;
    z-index: 1; */
    
}

.container {
    width: 100%;
    margin: 0 auto; /*to center everything*/
    padding: 0 1.5rem;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.logo-img {
    width: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    color: rgb(134, 134, 134);
}

.menu-icons i {
    font-size: 3.5rem;
    cursor: pointer;
}

.nav-list {
    width: 25rem;
    height: 100vh;
    background-color: lightgray;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1200;
    transition: all 1000ms ease-in-out;
}

.nav-list.active {
    right: 0;
}

.close {
    position: absolute;
    top: 0.5rem;
    left: 1.5rem;
}

.nav-list-items {
    position: fixed;
    top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-item {
    margin: 1.5rem 0;
}

.nav-link {
    font-size: 1.6rem;
    color: #111;
    position: relative;
}

.nav-link::after {
  content: " ";
  position: absolute;
  left: 0;
  background-color: #111111;
  width: 100%;
  height: 2px;
  bottom: 0;
  transform: scale(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.nav-link:hover::after {
    transform: scale(1);
}


/* Hero Section */

.hero {
    width: 100%;
    height: 80vh;
    margin-top: 1rem;
    background: url(https://stefhakan.github.io/stefhakan.github.io/Fika/images/hero.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

.main-message {
    width: 100%;
    max-width: 50rem;
    transform: translateY(50%);
}

.main-message h1 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 1.2rem;
}

.main-message p {
    width: 80%;
    margin: 0 auto 1rem;
    text-align: center;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 2rem;
    color: rgb(185, 184, 184);
    padding: .7rem .7rem;
    transition: background-color 650ms;
}

.btn:hover {
    background: cadetblue;
    opacity: .9;
}
/* Our Story Section */

.about {
    width: 100%;
    height: 40vh;
    background-color: cadetblue;
    padding: 3rem 3rem !important;
    display: flex;
    align-items: center;
}

.story h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.about p {
    text-align: center;
    padding-top: 2rem ;
}

/* New items grid */

.new {
    padding-top: 4rem !important;
}

.headline h1 {
    font-size: 3rem;
    color: cadetblue;
    text-align: center;
    padding-bottom: 2rem;
}

.container-new {
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.new-items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, max-content));
    gap: 2.5rem;
    justify-content: center;
}

.item {
    height: 35rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    cursor: pointer;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.img {
    position: relative;
    max-width: 30rem;
}

.item h4 {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.3rem;
    
}

.item h5 {
    text-align: center;
    font-size: 1.2rem;
}

/* Map and contact section */

.location-contact {
    width: 100%;
    padding: 0 0 2rem !important;
}

.row {
    display: grid;
    width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(autofit, minmax(25rem, 1fr)) !important;
}

.map-container {
    width: 100%;
    height: 30rem;
    margin-left: 1rem;
}


.mapouter {
    width: 100%;
    position:relative;
    text-align:right;
    height:300px;
    width:348px;
   
}

.gmap_canvas {
    width: 100%;
    overflow:hidden;
    background:none!important;
    height:300px;
    margin-left: 1.4rem;
    width:348px;
}
.contact {
    width: 100%;
    height: 15rem;
    margin-top: 1.5rem;
}

.contact-title {
    font-size: 2rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.number, 
.address,
.email {
    color: #111;
    font-size: 1.2rem;
    text-align: center;
}

.contact-info li {
    margin: .8rem 0;
    text-align: center;
}

footer {
    width: 100%;
    height: 8rem;
    background-color: cadetblue;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

footer p {
    padding-top: 3rem;
    font-size: 1.4rem;
}

footer p a {
    color:  rgb(233, 233, 233);
}

/* Media Query section */

@media screen and (min-width: 411px) {


    .mapouter {
        height:300px;
        width:361px;
    }
    
    .gmap_canvas {
        height:300px;
        width:381px;
    }
}

@media screen and (min-width: 433px) {
    

    .mapouter {
        height:300px;
        width:361px;
      
    }
    
    .gmap_canvas {
        height:300px;
        width:408px;
       
    }
}
@media screen and (min-width: 450px) {
    
    .item {
        max-height: 24rem;
    }
}
@media screen and (min-width: 575px) {
    
    .main-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        transform: translateY(30%);
    }
    .main-message h1 {
        font-size: 5.5rem;
    }
    .main-message p {
        font-size: 2rem;
    }
    .btn {
        font-size: 1.5rem;
    }
    .item {
        max-height: 28rem;
    }
    .mapouter {
        height:340px;
        width:361px;   
    }   
    .gmap_canvas {
        height:340px;
        width:550px;
    }
}

@media screen and (min-width: 600px) {
     
    .item {
        max-height: 28rem;
    }
    .mapouter {
        height:340px;
        width:361px;
      
    }   
    .gmap_canvas {
        height:340px;
        width:561px;
       
    }
}
@media screen and (min-width: 680px) {
     
    .item {
        max-height: 20rem;
    }
    .item h4 {
        text-align: center;
        margin-top: 1rem;
        font-size: 1.3rem;  
    }
    .item h5 {
        text-align: center;
        font-size: 1.2rem;
    }
    .mapouter {
        height:451px;
        width:561px;    
    }   
    .gmap_canvas {
        height:451px;
        width:561px;
        transform: translateX(10%);
    }
}
@media screen and (min-width: 700px) {   
    .item {
        max-height: 23rem;
    }
    .mapouter {
        height:451px;
        width:561px;    
    }   
    .gmap_canvas {
        height:451px;
        width:561px;
        transform: translateX(10%);
    }
}
@media screen and (min-width: 768px) {   
    .mapouter {
        height:451px;
        width:561px;    
    }   
    .gmap_canvas {
        height:451px;
        width:561px;
        transform: translateX(16%);
    }
}

@media screen and (min-width: 850px) {   
    .item {
        max-height: 30rem;
    }
    .mapouter {
        height:451px;
        width:561px;    
    }   
    .gmap_canvas {
        height:451px;
        width:561px;
        transform: translateX(23%);
    }

    .nav-list {
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row !important;
    }
    .nav-list-items {
        flex-direction: row;
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        margin: 0 1.5rem;
    }
    .menu-icons {
        display: none;
    }
    .nav-item {
        margin: 0 2.5rem;
    }


    .contact {
        margin-top: 5rem;
    }
    .about p {
        padding: 2rem 10rem;
    }
}
@media screen and (min-width: 900px) {   
    .item {
        max-height: 30rem;
    }
    .location-contact {
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(25rem, max-content)); 
        justify-content: center;
    }
    
    .mapouter {
        height:451px;
        width:561px;    
        
    }   
    .gmap_canvas {
        height:451px;
        width:561px;
       transform: translateX(0%);
       
    }
    .contact {
        width: 100%;
        height: 15rem;
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0rem 4rem 0 7rem;
    }
    .contact-back {
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 2rem;
    }
    
    .nav-link {
        font-size: 1.6rem;
        margin: 0 2rem;
    }
}
@media screen and (min-width: 992px) {   
    .location-contact {
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(25rem, max-content)); 
    }
    
    .mapouter {
        height:451px;
        width:561px;    
        
    }   
    .gmap_canvas {
        height:451px;
        width:561px;
       transform: translateX(0%);
       
    }
    .contact {
        width: 100%;
        height: 15rem;
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0rem 4rem 0 10rem;
    }
    .about p {
        padding: 2rem 15rem;
    }
}

@media screen and (min-width: 1039px) {   
    .location-contact {
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(50rem, max-content)); 
        margin: auto;
    }
    
    .mapouter {
        height:451px;
        width:561px;    
        
    }   
    .gmap_canvas {
        height:451px;
        width:561px;
       transform: translateX(0%);
       
    }
    .contact {
        width: 100%;
        height: 15rem;
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0rem 4rem 0 6rem;
    }
    .nav-link {
        font-size: 1.7rem;
        margin: 0 2.5rem;
    }
    .logo-img {
        font-size: 3.8rem;
    }
    .header {
        margin-bottom: 2rem;
    }
    .contact-back {
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 4rem;
    }
}

@media screen and (min-width: 1200px) {   

    .contact {

        padding: 0rem 4rem 0 20rem;
    }
    .contact-back {
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 5rem;
    }
}

@media screen and (min-width: 1270px) {   

    .contact {

        padding: 0rem 4rem 0 18rem;
    }
}

@media screen and (min-width: 1400px) {   

    .contact {

        padding: 0rem 4rem 0 30rem;
    }
}